.btn-primary {
    margin-right: 10px;
    background-color: #c69f3a;
    color: #efeee8;
    border-color: black;
    border: 2px solid black;
}

.btn-primary:hover {
    background-color: black;
    color: #c69f3a;
    border-color: #efeee8;
}
